<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gustaf Gunér – Full Stack Developer, UI/UX-designer</title>
    <meta name="description" content="I'm a full stack developer and a MSc student of Computer Science at KTH Royal Institute of Technology. I develop and design digital products. I'm the founder of Publector. I have a passion for software development, design and entrepreneurship.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require("./assets/favicons/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require("./assets/favicons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require("./assets/favicons/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= require("./assets/favicons/site.webmanifest") %>">
    <link rel="mask-icon" href="<%= require("./assets/favicons/safari-pinned-tab.png") %>" color="#5bbad5">
    <link rel="shortcut icon" href="<%= require("./assets/favicons/favicon.ico") %>">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="<%= require("./assets/favicons/browserconfig.xml") %>">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <canvas class="fireworks"></canvas>
    <header id="site-header" class="page-padding">
      <div id="site-logo">
        <h1>Gustaf Gunér – Full Stack Developer, UI/UX-designer</h1>
      </div>
    </header>

    <section id="landing">
      <div id="headline">
        <div id="hello">
          <h1>Hi, I'm Gustaf</h1>
          <div class="emoji wave"><img src="<%= require("./assets/images/waving-hand-transparent.png") %>"></div>
          <!--<div class="emoji wave">👋</div>-->
        </div>
      </div>
      <div class="text">
        <p>I build digital products</p>
      </div>
    </section>

    <section id="bio">
      <div class="page-padding-center">
        <div class="title">
          <h2>About me</h2>
        </div>
        <div class="text">
          <p>I'm a full stack developer and a MSc student of Computer Science at KTH Royal Institute of Technology. I develop and design digital products. I'm the founder of <a href="https://publector.org" target="_blank">Publector</a>. I have a passion for software development, design and entrepreneurship. In my spare time I play and create music. Wanna get in touch? <a href="mailto:gustaf@publector.org">Send me an email</a> or contact me on <a href="https://github.com/gustafguner" target="_blank">GitHub</a>, <a href="https://www.linkedin.com/in/gustaf-guner/" target="_blank">LinkedIn</a> or <a href="https://soundcloud.com/gustafguner" target="_blank">SoundCloud</a>.</p>
        </div>
      </div>
    </section>

    <section id="selected-work">
      <div class="page-padding-center">
        <div class="title">
          <h2>A selection of projects</h2>
        </div>
        <div class="list">
          <ul>
            <li><p><a href="https://publector.org/" target="_blank">Publector</a> – <span class="role">Development, UI/UX-design</span></p></li>
            <li><p><a href="http://brainaccounting.se/" target="_blank">Brain Accounting</a> – <span class="role">Development</span></p></li>
            <li><p><a href="http://etcstores.se/" target="_blank">ETC Stores</a> – <span class="role">Development</span></p></li>
            <li><p><a href="https://gustafguner.github.io/angular-tooltip/" target="_blank">angular-tooltip</a> – <span class="role">Development, UI/UX-design</span></p></li>
            <li><p><a href="https://scanddev.se/" target="_blank">Scandinavian Development Series</a> – <span class="role">Development</span></p></li>
          </ul>
        </div>
      </div>
    </section>

    <section id="skills">
      <div class="page-padding-center">
        <div class="title">
          <h2>Skills</h2>
        </div>
        <div class="text">
          <p>HTML, CSS, Sass, JavaScript, Node.js, Express.js, Angular, React, Vue, Git, Java, PHP, WordPress, SEO, SQL, MongoDB, UI/UX-design, Photoshop.</p>
        </div>
      </div>
    </section>
  </body>
</html>