@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Regular.eot');
  src: url('assets/fonts/Gordita-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Gordita-Regular.woff2') format('woff2'),
      url('assets/fonts/Gordita-Regular.woff') format('woff'),
      url('assets/fonts/Gordita-Regular.ttf') format('truetype'),
      url('assets/fonts/Gordita-Regular.svg#Gordita-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-MediumItalic.eot');
  src: url('assets/fonts/Gordita-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Gordita-MediumItalic.woff2') format('woff2'),
      url('assets/fonts/Gordita-MediumItalic.woff') format('woff'),
      url('assets/fonts/Gordita-MediumItalic.ttf') format('truetype'),
      url('assets/fonts/Gordita-MediumItalic.svg#Gordita-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Bold.eot');
  src: url('assets/fonts/Gordita-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Gordita-Bold.woff2') format('woff2'),
      url('assets/fonts/Gordita-Bold.woff') format('woff'),
      url('assets/fonts/Gordita-Bold.ttf') format('truetype'),
      url('assets/fonts/Gordita-Bold.svg#Gordita-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Medium.eot');
  src: url('assets/fonts/Gordita-Medium.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Gordita-Medium.woff2') format('woff2'),
      url('assets/fonts/Gordita-Medium.woff') format('woff'),
      url('assets/fonts/Gordita-Medium.ttf') format('truetype'),
      url('assets/fonts/Gordita-Medium.svg#Gordita-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-LightItalic.eot');
  src: url('assets/fonts/Gordita-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Gordita-LightItalic.woff2') format('woff2'),
      url('assets/fonts/Gordita-LightItalic.woff') format('woff'),
      url('assets/fonts/Gordita-LightItalic.ttf') format('truetype'),
      url('assets/fonts/Gordita-LightItalic.svg#Gordita-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gordita';
  src: url('assets/fonts/Gordita-Light.eot');
  src: url('assets/fonts/Gordita-Light.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Gordita-Light.woff2') format('woff2'),
      url('assets/fonts/Gordita-Light.woff') format('woff'),
      url('assets/fonts/Gordita-Light.ttf') format('truetype'),
      url('assets/fonts/Gordita-Light.svg#Gordita-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  background: #fff;
  font-family: 'Gordita', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  & > section {
    margin-bottom: 120px;
  }
}
*{
  box-sizing: border-box;
}

$primary: #0037FF;

p {
  font-size: 24px;
  line-height: 36px; 
  color: rgb(70,70,70);
  font-weight: 500;
}

.page-padding {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}

header#site-header {
  width: 100%;
  height: 155px;
  background-color: rgba(0,0,0,0);
  align-items: center;
  padding: 50px;
  position: relative;
  z-index: -2;
  #site-logo {
    width: 55px;
    height: 55px;
    opacity: 0;
    svg {
      width: 100%;
      height: 100%;
      fill: $primary;
    }
  }
}

section#landing {
  width: 100%;
  position: relative;
  z-index: 10000;
  margin-bottom: 180px;
  #headline {
    margin: 0 auto;
    padding: 70px 0 15px 0;
    display: flex;
    transform: scale(0);
    opacity: 0;
    align-items: center;
    justify-content: center;
    #hello {
      position: relative;
      padding-right: 80px;
      h1{
        text-align: center;
        color: $primary;
        font-size: 62px;
        line-height: 78px;
        font-weight: 500;
        margin: 0;
        letter-spacing: 1px;
        font-weight: bold;
      }
    }
    .emoji{
      &.wave{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        font-size: 56px;
        line-height: 85px;
      }
    }
  }
  .text {
    text-align: center;
    opacity: 0;
    margin: 0 auto;
    max-width: 600px;
    p {
      font-size: 30px;
      color: rgb(50,50,50);
      font-weight: 500;
      line-height: 46px;
    }
  }
}

section {
  .title {
    h2 {
      color: rgb(150,150,150);
      font-weight: 500;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 2px;
    }
  }
  .list{
    width: 100%;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        width: 100%;
        p {
          a {
            color: rgb(70,70,70);
            text-decoration: none;
            &:hover {
              color: black;
            }
          }
          span.role {
            color: rgb(140,140,140);
          }
        }
      }
    }
  }
  .text {
    p {
      a {
        color: $primary;
        text-decoration: none;
        border-bottom: 3px solid $primary;
        font-weight: 600;
      }
    }
  }
}

canvas.fireworks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

}